{%extends "base.html" %}

{%block title %}Sign Up{% endblock %}

{%block body %}
    <h1 class="text-center">Sign Up</h1>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form role="form"
                  action="{{ url_for('.register', next=request.args.get('next')) }}"
                  method="post"
                  enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {% if form.username.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    {{ form.username.label }}
                    {% if form.username.errors %}
                        {% for e in form.username.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.username(class_="form-control") }}
                </div>
                {% if form.password.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {% for e in form.password.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password(class_="form-control") }}
                </div>
                {% if form.confirm_password.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    {{ form.confirm_password.label }}
                    {% if form.confirm_password.errors %}
                        {% for e in form.confirm_password.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.confirm_password(class_="form-control") }}
                </div>
                {% if form.email.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {% for e in form.email.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.email(class_="form-control") }}
                </div>
                {% if form.recaptcha.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    {{ form.recaptcha.label }}
                    {% if form.recaptcha.errors %}
                        {% for e in form.recaptcha.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.recaptcha(class_="form-control") }}
                </div>
                {% if form.accept_tos.errors %}
                <div class="form-group has-error">
                {% else %}
                <div class="form-group">
                {% endif %}
                    {{ form.accept_tos.label }} <a href="{{ url_for('.terms_conditions') }}">T&ampC</a>
                    {% if form.accept_tos.errors %}
                        {% for e in form.accept_tos.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.accept_tos }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{%endblock %}
